<table mat-table
  [dataSource]="_acxTableService.getPaginatorService() == null ?
    (_acxTableService.getElements())
    :
    (_acxTableService.getElements()
      | acxTableFiltering
      :_acxTableService.getPaginatorService().getIndex()
      :_acxTableService.getPaginatorService().getPageSize())"
  class="mat-elevation-z8">
    <ng-container *ngFor="let column of _acxTableService.getDisplayedColumns()" matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef> {{ column | uppercase }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="_acxTableService.getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: _acxTableService.getDisplayedColumns()"></tr>
</table>
