.mat-toolbar-row .mat-icon {
  margin: 0px 12px;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-toolbar.mat-primary {
  z-index: 200;
  box-shadow: 0px -3px 5px 2px #000000b0;
}
.mat-list-base .mat-list-item{
  border-bottom: 1px solid #00000077;
}

.mat-list-base .mat-list-item {
  padding: 0 35px 0px 16px;
}

.mat-nav-list {
  padding-top: 0px;
}
.logout {
  position: absolute;
  bottom: 0px;
  border-top: 1px solid rgba(0,0,0,0.5);
}

.mat-toolbar div {
  display: flex;
  align-items: center;
}
