
<app-login *ngIf="!loggedIn"></app-login>
<div class="example-container" *ngIf="loggedIn" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Top Toolbar with Title -->
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <div *ngIf="!isDetailsView">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">{{ appTitle }}</h1>
      </div>

      <div *ngIf="isDetailsView" (click)="navigateBack()">
        <button mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
        <h1 class="example-app-name">Back</h1>
      </div>
      <span class="example-spacer"></span>
      <img class="logo" src='./assets/wamas_logo_white.png'>
      <mat-icon matBadge="15" *ngIf="true" matBadgeColor="warn">warning</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Navigation -->
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <a *ngFor="let item of navItems" mat-list-item [routerLink]="item.routerLink">
            <img class="icon" [src]='item.icon'>{{item.name}}</a>
          <a mat-list-item class="logout" (click)="logout()">
              <img class="icon" src='./assets/icons/dark/logout.svg'>Logout</a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Page Conent-->
    <mat-sidenav-content>
        <router-outlet (isDetailsView)="changeDetailsView($event)"></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>


