<div *ngFor="let controller of controllerData | async">
  <h2>Direct Properties</h2>
  <table class="details">
    <tr>
      <td>Id:</td>
      <td>{{ controller?.id }}</td>
    </tr>
    <tr>
      <td>Location:</td>
      <td>{{ controller?.locationLabel }}</td>
    </tr>
    <tr>
      <td>WaitingFor:</td>
      <td>{{ controller?.waitingFor }}</td>
    </tr>
    <tr>
      <td>Priority:</td>
      <td>{{ controller?.priority }}</td>
    </tr>
    <tr>
      <td>Type:</td>
      <td>{{ controller?.type }}</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td>{{ controller?.age }}</td>
    </tr>
    <tr>
      <td>finished:</td>
      <td>{{ controller?.finished }}</td>
    </tr>
  </table>
  <h2>Nested Properties</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Targets
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table>
          <tr *ngFor="let target of controller.targets; index as i">
            <td>{{ target.name }}</td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
</div>


