<div *ngFor="let tu of tuData | async">
  <h2>Direct Properties</h2>
  <table>
    <tr>
      <td>ID:</td>
      <td>{{ tu.id }}</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>{{ tu.name }}</td>
    </tr>
  </table>
  <h2>Nested Properties</h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              Type
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table>
          <tr>
            <td>ID:</td>
            <td>{{ tu.type.id }}</td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>{{ tu.type.name }}</td>
          </tr>
          <tr>
            <td>SOC ID:</td>
            <td>{{ tu.type.typeSocId }}</td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>{{ tu.location.name }}</td>
          </tr>
        </table>
      </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Location
            </mat-panel-title>
          </mat-expansion-panel-header>

          <table>
              <tr>
                <td>ID:</td>
                <td>{{ tu.location.id }}</td>
              </tr>
              <tr>
                <td>Description:</td>
                <td>{{ tu.location.description }}</td>
              </tr>
              <tr>
                <td>HostName:</td>
                <td>{{ tu.location.hostName }}</td>
              </tr>
              <tr>
                <td>Name:</td>
                <td>{{ tu.location.name }}</td>
              </tr>
            </table>
        </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  TransportOrders
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let to of tu.transportOrders; index as i">
              Order #{{i}}
            <table>
              <tr>
                <td>ID:</td>
                <td>{{ to?.id }}</td>
              </tr>
              <tr>
                <td>nextTarget:</td>
                <td>{{ to?.nextTarget?.name }}</td>
              </tr>
              <tr>
                <td>isActive:</td>
                <td>{{ to?.isActive }}</td>
              </tr>
              <tr>
                <td>Error:</td>
                <td>{{ to?.error }}</td>
              </tr>
            </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
</div>


