
div {
  padding: 5px 25px;
}
tr td:first-child{
  width: 100px;
}
h3{
  padding-left: 10px;
}
h2{
  margin-top: 50px;
}
table {
  margin-left: 20px;
  padding-left: 10px;
}

h3 + table {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid;
}
